{% extends "layout.html" %}
{% block body %}
	<h2>Login</h2>
	{% if message %}<p class=erroe><strong>Message:</strong> {{ message }}{% endif %}
	<form action="{{ url_for('signup') }}" method=post>
		<dl>
			<dt>Email:</dt>
			<dd><input type=text name="email"></dd>
			<dt>Password:</dt>
			<dd><input type=password name=password></dd>
			<dt>Password Check:</dt>
			<dd><input type=password name="password_check"></dd>
			<dd><input type=submit value="Sign up"></dd>
		</dl>
	</form>
{% endblock %}
